.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activeColor{
  padding-top: 5px;
  height: 30px;
  width: 10%;
  border: 2px solid gray;
  cursor: pointer;
  margin-right: 4rem;
  background-color: green;
  color: #FFFF;
}

.pointer{
  cursor: pointer;
  margin-right: 4rem;
}

.row{
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-fields{
  height: 30px;
  margin: 10px;
}

.btn{
  width: 100px;
  height: 40px;
  background-color: blue;
  color: #FFFF;
  border: none;
  cursor: pointer;
}